html {
  box-sizing: border-box;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Fondo */
body {
  background: url(./images/hoen-iniciales.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Header*/
header {
  background-image: url(./images/noise.png);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  border: 3px solid brown;
}

header h1 {
  color: white;
  font-size: 30px;
  font-family: "Rock Salt", cursive;
  margin: 0px;
}

header img {
  height: 40px;
  margin-left: 15px;
}

/* nav */
nav {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
}

nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  padding: 10px;
  user-select: none;
}

nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

nav ul a {
  text-decoration: none;
  color: black;
}

/* main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
}

/* main title*/
main h2 {
  background: aliceblue url(./images/noise.png);
  padding: 0px 40px;
  text-align: center;
  color: black;
  user-select: none;
  border: 3px double brown;
  border-top: 3px solid brown;
}

/* team */
.team {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.team article {
  flex: 0 1 30%;
  display: flex;
}

.team div {
  background: center/95% url(./images/pokeball.svg) no-repeat;
  text-align: center;
  padding: 20px;
  margin: 0px;
}

.team h3 {
  background: aliceblue url(./images/noise.png);
  margin: 0px;
  padding: 0px;
  border: 3px double brown;
  border-top: 3px solid brown;
  user-select: none;
}

.team img {
  max-height: 160px;
  padding: 10px;
  user-select: none;
}

/* Stats */

/* .stats {
  background-color: beige;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
} */

/* fin clases stats */
